<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="animals">
                Animaux
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="parcours">
                Parcours
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="infos">
                Infos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="quizzes">
                Quiz
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="interest">
                Point d'intérêts
            </a>
        </li>
    </ul>

    {{#user}}
    <span class="navbar-text mr-md-3">Welcome {{username}}</span>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="profile">
                My Profile
            </a>
        </li>
    </ul>
    <form class="form-inline" action="/updatePassword" method="post">
        <input type="submit" class="btn btn-outline-warning my-2 my-sm-0" value="Change your password"/>
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
    </form>
    <form class="form-inline" action="/logout" method="post">
        <input type="submit" class="btn btn-outline-warning my-2 my-sm-0" value="Sign Out"/>
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
    </form>
    {{/user}}
</nav>