{{> layout/header}}

<body>

{{> layout/navBar}}

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Animaux dans le zoo</h1>

    <div class="card-deck">
        {{#animalsInZoo}}
        <div class="col-md-4">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}} <span class="badge badge-secondary">Id {{id}} </span></h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img class="card-img-top" src="{{picture}}" alt="Animal"/>
                    </div>
                </div>
                <div class="card-body">
                    <span class="badge badge-warning">Latin name : {{latin_name}}</span>
                    <span class="badge badge-danger">Classification : {{classification}}</span>
                    <span class="badge badge-primary">Description : {{description}}</span>
                    <span class="badge badge-success">Menaced : {{menaced}}</span>
                </div>
            </div>
        </div>
        {{/animalsInZoo}}
    </div>

</div>

</body>
</html>