{{> layout/header}}

<body>

{{> layout/navBar}}

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Information du zoo</h1>

    <div class="card-deck">
        {{#info}}
        <div class="col-md-4">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}} <span class="badge badge-secondary">Id {{id}} </span></h4>
                </div>
                <div class="card-body">
                    <span class="badge badge-warning">address : {{address}}</span>
                    <span class="badge badge-danger">zip_code : {{zip_code}}</span>
                    <span class="badge badge-primary">street : {{street}}</span>
                    <span class="badge badge-success">mail : {{mail}}</span>
                    <span class="badge badge-success">number : {{number}}</span>
                </div>
            </div>
        </div>
        {{/info}}
    </div>

</div>

</body>
</html>