{{> layout/header}}

<body>

{{> layout/navBar}}

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Quiz</h1>

    <div class="card-deck">
        {{#quiz}}
        <div class="col-md-4">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}} <span class="badge badge-secondary">Id {{id}} </span></h4>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
        {{/quiz}}
    </div>

</div>

</body>
</html>